# Reference: https://github.com/i3/i3/blob/next/etc/config

# i3 doesn't have "normalizations" feature that why we disable them here.
# But the feature is very helpful.
# Normalizations eliminate all sorts of weird tree configurations that don't make sense.
# Give normalizations a chance and enable them back.

# Mouse follows focus when focused monitor changes
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
on-focus-changed = ['move-mouse window-lazy-center'] # Mouse lazily follows any focus (window or workspace)

after-startup-command = [
    'exec-and-forget sketchybar --reload',
    'exec-and-forget borders'
]

exec-on-workspace-change = ['/bin/bash', '-c', 'sketchybar --trigger aerospace_workspace_change AEROSPACE_FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE AEROSPACE_PREV_WORKSPACE=$AEROSPACE_PREV_WORKSPACE',
    'hs -c "test(\"from aerospace\")"'
]

start-at-login = true

[workspace-to-monitor-force-assignment]
1 = 'main'
2 = 'main'
3 = 'main'
4 = 'main'
5 = 'main'
6 = 'main'
7 = 'main'
8 = 'main'
9 = '^built-in retina display$'                       # Main monitor
10 = 'main'

[key-mapping.key-notation-to-key-code]
q = 'q'
w = 'w'
f = 'e'
p = 'r'
b = 't'
j = 'y'
l = 'u'
u = 'i'
y = 'o'
semicolon = 'p'
leftSquareBracket = 'leftSquareBracket'
rightSquareBracket = 'rightSquareBracket'
backslash = 'backslash'

a = 'a'
r = 's'
s = 'd'
t = 'f'
g = 'g'
m = 'h'
n = 'j'
e = 'k'
i = 'l'
o = 'semicolon'
quote = 'quote'

x = 'z'
c = 'x'
d = 'c'
v = 'v'
z = 'b'
k = 'n'
h = 'm'
comma = 'comma'
period = 'period'
slash = 'slash'

[mode.main.binding]
cmd-h = [] # Disable "hide application"
cmd-alt-h = [] # Disable "hide others"

alt-h = 'focus left'
alt-j = 'focus up'
alt-k = 'focus down'
alt-l = 'focus right'

alt-shift-h = 'move left'
alt-shift-j = 'move up'
alt-shift-k = 'move down'
alt-shift-l = 'move right'

ctrl-shift-h = 'join-with left'
ctrl-shift-j = 'join-with down'
ctrl-shift-k = 'join-with up'
ctrl-shift-l = 'join-with right'

alt-f = 'fullscreen'
alt-s = 'layout v_accordion' # 'layout stacking' in i3
alt-w = 'layout h_accordion' # 'layout tabbed' in i3
alt-e = 'layout tiles vertical horizontal' # 'layout toggle split' in i3

alt-shift-space = 'layout floating tiling' # 'floating toggle' in i3

# Not supported, because this command is redundant in AeroSpace mental model.
# See: https://nikitabobko.github.io/AeroSpace/guide#floating-windows
#alt-space = 'focus toggle_tiling_floating'

# `focus parent`/`focus child` are not yet supported, and it's not clear whether they
# should be supported at all https://github.com/nikitabobko/AeroSpace/issues/5
# alt-a = 'focus parent'

ctrl-keypad1 = 'workspace 1'
ctrl-keypad2 = 'workspace 2'
ctrl-keypad3 = 'workspace 3'
ctrl-keypad4 = 'workspace 4'
ctrl-keypad5 = 'workspace 5'
ctrl-keypad6 = 'workspace 6'
ctrl-keypad7 = 'workspace 7'
ctrl-keypad8 = 'workspace 8'
ctrl-keypad9 = 'workspace 9'
ctrl-keypad0 = 'workspace 10'

ctrl-shift-keypad1 = 'move-node-to-workspace 1'
ctrl-shift-keypad2 = 'move-node-to-workspace 2'
ctrl-shift-keypad3 = 'move-node-to-workspace 3'
ctrl-shift-keypad4 = 'move-node-to-workspace 4'
ctrl-shift-keypad5 = 'move-node-to-workspace 5'
ctrl-shift-keypad6 = 'move-node-to-workspace 6'
ctrl-shift-keypad7 = 'move-node-to-workspace 7'
ctrl-shift-keypad8 = 'move-node-to-workspace 8'
ctrl-shift-keypad9 = 'move-node-to-workspace 9'
ctrl-shift-keypad0 = 'move-node-to-workspace 10'

alt-comma = 'mode system'
alt-m = 'mode monitor'
alt-a = 'mode app'
alt-shift-c = 'reload-config'
alt-minus = 'resize smart -50'
alt-equal = 'resize smart +50'

[mode.system.binding]
enter = [ 'reload-config', 'mode main' ]
esc = 'mode main'

[mode.monitor.binding]
ctrl-n = ["focus-monitor next"]
ctrl-p = ["focus-monitor prev"]
alt-n = ['move-node-to-monitor next']
alt-p = ['move-node-to-monitor prev']
esc = 'mode main'
enter = 'mode main'

[mode.app.binding]
alt-b = ['exec-and-forget open -a Arc.app', 'mode main']
alt-c = ['exec-and-forget open -a "Notion Calendar.app"', 'mode main']
# Runs file manager in $HOME
alt-f = ['exec-and-forget open -a kitty.app -n --args zsh -c "yazi" > /dev/null 2>&1 &', 'mode main']
shift-f = ['exec-and-forget open -a kitty.app -n --args zsh -c yazi $(tmux display-message -p -F "#{pane_current_path}" -t0) > /dev/null 2>&1 &', 'mode main']
alt-m = ['exec-and-forget open -a Mail.app', 'mode main']
# Runs nvim in notes directory
alt-n = ['exec-and-forget open -a kitty.app -n --args zsh -c "cd ~/Git/vaults/whaledev/Whaledev && nvim" > /dev/null 2>&1 &', 'mode main']
alt-p = ['exec-and-forget open -a Telegram.app', 'mode main']
alt-s = ['exec-and-forget open -a Slack.app', 'mode main']
alt-t = ['exec-and-forget open -a kitty.app', 'mode main']
alt-shift-t = ['exec-and-forget open -a kitty.app -n --args zsh -c "tmux"', 'mode main']
alt-v = ['exec-and-forget open -a Spotify.app', 'mode main']
# Runs Btop process viewer
alt-z = ['exec-and-forget open -a kitty.app -n --args zsh -c "btop" > /dev/null 2>&1 &', 'mode main']

enter = 'mode main'
esc = 'mode main'

[gaps]
inner.horizontal = 8
inner.vertical =   8
outer.left =       8
outer.bottom =     8
outer.top =        [
  {monitor.btop = 10},
  {monitor.'studio display$' = 40},
  {monitor.'^built-in' = 8},
  8
]
outer.right =      8

# Pin apps to the workspace
[[on-window-detected]]
if.app-id = 'company.thebrowser.Browser'
run = ['move-node-to-workspace 1']

[[on-window-detected]]
if.app-id = 'ru.keepcoder.Telegram'
run = ['move-node-to-workspace 3']

[[on-window-detected]]
if.app-id = 'com.tinyspeck.slackmacgap'
run = ['move-node-to-workspace 3']

[[on-window-detected]]
if.app-id = 'com.apple.mail'
run = ['move-node-to-workspace 4']

[[on-window-detected]]
if.app-id = 'com.cron.electron'
run = ['move-node-to-workspace 4']

[[on-window-detected]]
if.app-id = 'notion.id'
run = ['move-node-to-workspace 5']

[[on-window-detected]]
if.app-id = 'md.obsidian'
run = ['move-node-to-workspace 5']

[[on-window-detected]]
if.app-id = 'com.spotify.client'
run = ['move-node-to-workspace 6']

[[on-window-detected]]
if.app-id = 'dev.kdrag0n.MacVirt'
run = ['move-node-to-workspace 7']

[[on-window-detected]]
if.app-id = 'com.figma.Desktop'
run = ['move-node-to-workspace 8']

[[on-window-detected]]
if.app-id = 'com.shapr3d.shapr'
run = ['move-node-to-workspace 8']

[[on-window-detected]]
if.app-id = 'com.apple.PhotoBooth'
run = ['layout floating']

[[on-window-detected]]
if.app-id = " com.obsproject.obs-studio"
run = ['move-node-to-workspace 9']

[[on-window-detected]]
if.app-id = "com.captureone.captureone15"
run = ['move-node-to-workspace 8']

# [[on-window-detected]]
# if.app-id = ''
# check-further-callbacks = true
# run = 'layout floating'

